.container {
  height: 100%;
  position: relative;
	text-align: center;
}

.welcome {


 margin: 0;
 width: 100%;
  	position: absolute;
    top: 50%;
    //transform: translateY(-50%);
  	//-ms-transform: translateY(-50%);;
}