body {
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

.container {
	display: table;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.center {
	padding-bottom: 5em;
	display: table-cell;
  	vertical-align: middle;
}

.center img {
  width: 80%;
  max-width: 30em;
  height: auto;
  margin: 2em;
}

.center h1 {
      font-size: 4em;
      display: inline-block;
      padding-right: 12px;
      animation: type .5s alternate infinite;
      margin: 20px 0px;
}

@keyframes type {
      from {box-shadow: inset -3px 0px 0px #888;}
      to {box-shadow: inset -3px 0px 0px transparent;}
}


.center p {
  font-size: 1.8em;
  color: #6d6d6d;
  margin: auto;
}

.center a {
	color: #4287f5;
}

.center a:link, a:visited, a:active {
	text-decoration: none;
}

.center a:hover {
	text-decoration: underline;
}


#smaller {
	font-size: 1.4em;
    color: #888;
	margin-top: 1em !Important;
}
