.home {
  height: 2000px;
  text-align: center;
  background-color: whitesmoke;
  overflow: hidden; 
  position: fixed;
  width: 100%;
}

.welcome {
  vertical-align: middle;
  margin:  5em auto;
  text-align: center;
}

.welcome img {
  width: 20%;
  height: auto;
  margin: 2em;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}