<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${title}"></title>
	<link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="center">
			<img th:src="@{logo.png}"/>
			<p th:text="'Welcome to the ' + ${title}">
			<p id="smaller">Head to the <a th:href='${swaggerUrl}'>swagger</a> to get started</p>
		</div>
	</div>
</body>
</html>